<div class="well">
    <h1>Admin view</h1>

    <div class="panel panel-default" ng-repeat="boat in boats">
        <div class="panel-heading">
            <h4 class="panel-title text-center">{{boat.name}} from {{boat.university}} </h4>
        </div>
        <div class="panel-body">
            <dl class="dl-horizontal">
                <dt>State</dt>
					<dd>
						<button ng-if="boat.payment1" class="btn btn-success" ng-click="post(boat , 'pay1')">First paiment</button>
						<button ng-if="!boat.payment1" class="btn btn-danger" ng-click="post(boat , 'pay1')">First Paiment</button>
					</dd>
                    <dd>
						<button ng-if="boat.payment2" class="btn btn-success" ng-click="post(boat , 'pay2')">Second paiment</button>
						<button ng-if="!boat.payment2" class="btn btn-danger" ng-click="post(boat , 'pay2')">Second paiment</button>
					</dd>
                    <dd>
						<button ng-if="!boat.abandon" class="btn btn-success" ng-click="post(boat , 'abandon')">Valid</button>
						<button ng-if="boat.abandon" class="btn btn-danger" ng-click="post(boat , 'abandon')">Abandon</button>
					</dd>
                <dt>Mail</dt>
                    <dd>
                        <a ng-href="mailto:{{user(boat).email}}" ><button class="btn btn-default">{{user(boat).email}}</button></a>
                    </dd>
                <dt>Crew</dt>
                <dd ng-repeat="crewmate in crew | filter: {boat: boat.id} | orderBy: 'lastname'">
                    <div ng-if="crewmate.boat === boat.id">
        				<span class="glyphicon glyphicon-edit" ng-click="toggleModify(crewmate)"></span>
                        <span ng-hide="crewmate.fix">{{ crewmate.lastname | uppercase }} {{ crewmate.firstname }}</span>
                        <form ng-hide="!crewmate.fix" ng-submit="updateCrewmate(crewmate)">
                            <input type="text" ng-model="crewmate.lastname"/>
                            <input type="text" ng-model="crewmate.firstname"/>
                            <input type="submit" class="btn btn-primary"/>
                        </form>
                        <br />
                    </div>
                </dd>
                <div class="text-center">
                    <button type='button' class="btn btn-danger" ng-click="toggleDelete(boat)">Delete </button>
                </div>
        	</dl>
        </div>
        <div class="alert alert-danger text-center" ng-if="boat.delete">
            <p> Are you sure you want to delete this boat ? </p>
            <button type="button" class="btn btn-danger" ng-click="deleteBoat(boat)">Delete definitively</button>
        </div>
    </div>
</div>
