<div class="alert alert-success" ng-hide="success==''">
    <p>
        {{success}}
    </p>
</div>

<div class="alert alert-success" ng-hide="message==''">
    <p>
        {{message}}
    </p>
</div>

<div class="jumbotron well">
    <h1>Add Course </h1>

    <form name="loginForm" ng-submit="addCourse()">
        <label> Name <input type="text" ng-model="course.name" placeholder="Name" required/></label><br/>
        <label> Date <input type="text" ng-model="course.date" placeholder="Date in YYYY-MM-DD format" required/></label><br/>

        <div class="panel panel-default">
            <div class="panel-heading">Panel heading</div>

      <!-- Table -->
            <table class="table">
                <thead>
                    <tr>
                        <th> Rank </th>
                        <th> Name of the boat</th>
                    </tr>
                </thead>
                <tbody ui-sortable ng-model="boats">
                    <tr ng-repeat="boat in boats" class="ui-state-default" style="padding:5px 10px; cursor: move;">
                        <td> {{$index + 1}} </td>
                        <td> {{boat.name}} </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <input type="submit" class="btn btn-primary" ng-class="loginForm.$error.required && 'disabled'" value="Add Course" />
    </form>
</div>

<div class="well">

    <h2>Rankings</h2>

    <div class="panel panel-default" ng-repeat="course in courses">
        <div class="panel-heading">
            <h4 class="panel-title text-center">{{course.name}} on {{course.date | date: 'medium'}} </h4>
        </div>
        <div class="panel-body">
            <table class="table">
                <thead>
                    <tr>
                        <th> Rank </th>
                        <th> Name of the boat</th>
                    </tr>
                </thead>
                <tbody >
                    <tr ng-repeat="ranking in rankings | orderBy: 'rank'" ng-if="ranking.course == course.id">
                        <td> {{ranking.rank + 1}} </td>
                        <td> {{boat(ranking.boat).name}}</td>
                    </tr>
                </tbody>
            </table>
            <div class="text-center">
                <button type='button' class="btn btn-danger" ng-click="toggleDelete(course)">Delete </button>
            </div>
        </div>
        <div class="alert alert-danger text-center" ng-if="course.delete">
            <p> Are you sure you want to delete this course ? </p>
            <button type="button" class="btn btn-danger" ng-click="deleteCourse(course)">Delete definitively</button>
        </div>
    </div>

</div>
