<div class="well">
    <h1>Documents</h1>

</div>
<div class="well jumbotron">
    <h2>Notice of race</h2>

    <div class="btn-group" role="group">
        <button class="btn btn-info" ng-click="prev()"> Previous </button>
        <a class="btn btn-info" href="docs/NoR-Sywoc16.pdf"> Download </a>
        <button class="btn btn-info" ng-click="next()"> Next </button>
    </div>

    <br/>

    <pdf-viewer
    delegate-handle="my-pdf-container"
    url='pdfUrl'
    scale="1"
    show-toolbar="false"
    headers="{ 'x-you-know-whats-awesome': 'EVERYTHING' }"></pdf-viewer>

</div>
