<div class="container jumbotron well">
    <h1>Log in {{message}} </h1>

    <form name="loginForm" ng-submit="signIn()">
        <label> Username <input type="text" ng-model="loginData.username" placeholder="Username" required/></label><br/>
        <label> Password <input type="password" ng-model="loginData.password" placeholder="Password" required/></label><br/>

        <input type="submit" class="btn btn-primary" ng-class="loginForm.$error.required && 'disabled'" value="Log in" />
    </form>
</div>
