<div class="container well">
    <h1>Sywoc, the Student Yatching WOrld Cup</h1>

        <h2> The 36th edition </h2>

            <p>
                This year, the 36th SYWOC will take from November 2nd to November 7th at La Rochelle and will be sailed on "Grand Surprise".
            </p>

        

        <h2>Story of the SYWOC</h2>

            <p>
                The Student Yachting World Cup (SYWoC) is an event organized every year in France by students for students.
                Created in 1979 under the name of Course de l'Europe, the cup was just meant for participants from Western Europe.
                But, as time went by, more and more Eastern European countries joined the cup.
                That's why the Course de l'Europe changed its name to become the SYWoC.
            </p>
            <p>
                Now, any country can take part in this yearly event.
                The university winning the SYWoC is pre-selected to take part to the next edition to defend their title.
                The regatta lasts one whole week in France and counts about 150 competitors, representing 15 countries from all around the world.
                During this week, the atmosphere is both sportive and multicultural.
                The first night, every team participates in the crews' dinner by bringing some dishes or some beverage representing their country.
                This way, the students have an opportunity to meet and discover other culture before the cup begins.
                Each night, students can also meet at the dinner room and have some nice time with the participants.
                But don't forget that every morning, the teams are on the water determined to fight for the cup !
            </p>

            <p>
                We do everything we can in order to make sure that you have a wonderful time and enjoy this yachting competition in the best conditions possible.
            </p>
</div>
