<div class="well">
    <h1>Nos sponsors</h1>
</div>

<div class="well">
    <div class="row img-align">
        <div class="col-md-4">
            <img src="images/2000px-Exxon_Mobil_Logo.svg.png" class="img-responsive"/>
        </div>
        <div class="col-md-8">
            <p>
                ExxonMobil est la plus grande société pétrolière au monde. Nous avons le privilège de les compter parmi nos sponsors depuis cette année.
            </p>
        </div>
    </div>
</div>

<div class="well">
    <div class="row img-align">
        <div class="col-md-8">
            <p>
                L'Association Générale de Prévoyance Militaire est un sponsor historique de la SYWOC.
            </p>
        </div>
        <div class="col-md-4">
            <img src="images/AGPM-nouveau-logo-1024x578.jpg" class="img-responsive"/>
        </div>
    </div>
</div>

<div class="well">
    <div class="row img-align">
        <div class="col-md-4">
            <img src="images/ATKearney-public-relations.jpg" class="img-responsive"/>
        </div>
        <div class="col-md-8">
            <p>
                
            </p>
        </div>
    </div>
</div>
