<div class="container well">
    <h1>Polytechnique Paris</h1>

    <p>
        The SYWOC has been organized every year from the 1980's by a team of students from "Ecole Polytechnique", one of the top engineering school of France.
    </p>
    <p>
        These students work for free to provide to the crews the best sailing experience.
        Every year the team is renewed accordingly with our formation, so don't mind if you don't recognize us this year.

</div>

<div class="container well">
    <h1>The 2016 team</h1>

    
</div>
